

.header{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(233, 120, 39);
   grid-column: 1 / 3;
   grid-row: 1;
}

.content{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(233, 120, 39);
  grid-column: 1 / 3;
   grid-row: 1;
}

.footer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(141, 61, 4);
  grid-column: 1 / 3;
  grid-row: 2;
}
